.bg__login{
    background-image: url(../images/bg__login2.jpg);
    
    /* background-repeat: no-repeat;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center; */
}

.img__perro{
    background-image: url(../images/img__perro__login.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    /* filter: brightness(80%); */
}

.color__login{
    background-color: #413F40;
}


/* ESTILOS FOMULARIOS */
.form__container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

form {
    background: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 400px;
    margin: 20px;
    
}

.label__section{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 3px;
}

.h1 {
    text-align: center;
    color: #333;
    font-variant: small-caps;
    margin-bottom: 10px;
    font-size: 20px;
    border-bottom: black 1px solid;
}

label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
    color: #555;
}

input, select {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    width: 50%;
}

.button {
    width: 100%;
    background-color: #007bff;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    margin-top: 15px;
}

button:hover {
    background-color: #0056b3;
    
}

.hr {
    border: 0;
    height: 1px;
    background: #d0c8c8;
    margin: 15px 0;
    margin: 15px 15px;
}
